*{
    margin: 0px;
    padding: 0px;
}
#logo{
    height: 130px;
    width: 100%;
background-color: #06f;
color: white;
    display:flex ;
justify-content: center;
align-items: center;
}
#signup{
    
    height: 400px;
    width: 360px;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    /* position: absolute; */
    /* left: 50%;
    top: 80px;
    margin-left: -200px;
    z-index: 3;  */
    display: block;
}
#container{
    height: 600px;
    width: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.gkbcdn.com/s3/bn/2203/signin-6239450f2b40c91b9c8a4526.jpg');
}

input,#checkbox,#access,#top_head,#submit{
    height: 40px;
width: 93%;
margin-top: 10px;
display: flex;
}
#top_head{
    display: flex;
    justify-content: space-between;
}
#submit{
    border: 1px solid #06f;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06f;
    
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
#checkbox{
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #signin{
        display: inline-block;
    font-size: 14px;
    color: #333;
    height: 30px;
    line-height: 30px;
    float: right
    }
#create{
    color: #333;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
}

#cb{
    height: 14px;
    width: 14px;
   display: flex;
   justify-content: center;
   align-items: center;

}
#access_code{
    width: 60%;
}
#random{
    margin-top: 10px;
   height: 43px;
   width:35% ;
}
#access{
    justify-content: space-between;
}
#p{
    margin-top: 8px;
    margin-left: 10px;
}
#u,#p{
    font-size: 13px;
    color: #666;
    display: inline-block;
    vertical-align: top;
}
#login_check{
    display: flex;
}
.bot{
    color: #666;
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    padding-top: 16px;
}