body{
    font-family: sans-serif;
}
h1{
    text-align: center;
}
#navbar-top{
    color:white;
}

#container>div>img{
width: 100%;
height: 60%;
border-bottom: 0.5px solid black;
}
#container{
display: grid;
width: 90%;
margin: auto;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(5,500px);
gap: 20px;
}
#container>div:hover{
cursor: pointer;
background-color: rgb(185, 200, 200);
}
#container>div{
/* border: 1px solid saddlebrown; */
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#container p,#container h3{
margin-left: 2%;
line-height: 16px;
}
#original{
text-decoration: line-through;
}
#ratings{
display: flex;
/* border: 1px solid red; */

}
#ratings img{
width: 75px;
height: 30px;
margin-top: 2.8%;
}