#top-navbar{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-left: -20px;
    margin-right: -24px;
    /* margin-left: -12px; */
    margin-top: -12px;
} 
#home{
    /* border: 2px solid red; */
    width: 50px;
    height: 50px;
   
}
#india{
    font-size: 15px;
    height: 20px;
    margin-left: 10px;
    
}
#second_dropbtn_btn {
background-color: rgb(20,118,254);
color: white;
padding: 8px;
font-size: 14px;
border: none;
}
#third_dropbtn_btn {
background-color: rgb(20,118,254);
color: white;
padding: 8px;
font-size: 14px;
border: none;
}

#second_dropdwn {
position: relative;
display: inline-block;
}
#third_dropdwn {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: white;
width: 120px;

height: 250px;

}

.dropdown-content a {
color: black;
padding: 8px 8px;
text-decoration: none;
display: block;
font-size: 13px;

}

.dropdown-content a:hover {background-color: #ddd;}

#second_dropdwn:hover .dropdown-content {display: block;}
#third_dropdwn:hover .dropdown-content {display: block;}

#second_dropdwn:hover #second_dropbtn_btn {background-color: rgb(20,118,254);;}
#third_dropdwn:hover #third_dropbtn_btn {background-color: rgb(20,118,254);;}
 #top-navbar{
    height: 150px;
    background-color: rgb(20,118,254);
    color: white;
}
#top_options{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(211, 195, 195);
}
#top_options>div{
    margin-right: 60px;
}
#first_dropdwn{
    font-size: 14px;
    margin-top: 8px;
    position: relative;
}
#main{
    width: 85%;
    margin: auto;
    font-family: sans-serif;
    color: white;
}
#qr_code_div{
    display: flex;
  
}
#second_qr_code_div>img{
    display: block;
    margin-top: 6px;
    margin-left: 7px;
}
#first_dropdwn_main{
    display: none;
    right: 15px;
    position: absolute;
   top: 25px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   z-index: 99;
}
#first_dropdwn:hover #first_dropdwn_main{
    display: block;  
    background-color: white;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}
#first_dropdwn_mainn>div{
    margin-bottom: 6px;
}

#first_dropdwn_mainn{
    width: 95%;
    text-align: center;
}

#top_navbar_second{
    width: 90%;
    margin: auto;
    display: flex;
    height: 40px;
    margin-top: 20px;
}
#top_navbar_second_img{
    width: 18%;
    border: 1px solid transparent;
    margin-right: 2%;
}#top_navbar_second_img>a>img{
    width: 100%;
}
#top_navbar_second_search{
    width: 50%;
    background-color: white;
    border-radius: 7px;
}
#top_navbar_second_address{
    width: 9%;
    border: 1px solid transparent;
    margin-left: 2%;
    
    /* position: relative; */
}

#top_navbar_second_address>div>p{
    margin-top: -21px;
    /* width: 700px; */
}
#top_navbar_second_address>div>img{
    width: 9%;
    border: 1px solid transparent;
    margin-left: 2%;
    border: 2px solid black;
    height: 20px;
    /* position: relative; */
}
#top_navbar_second_address:hover #shipToBox{
    display: block;
}
#top_navbar_second_user{
    width: 9%;
    border: 1px solid transparent;
    margin-left: 2%;
    display: flex;
}
#top_navbar_second_user>p{
    margin-top: 10px;
    font-size: 12.5px;
    margin-left: 5px;
}
#top_navbar_second_user>a>img{
    border-radius: 50%;
    width: 50px;
}

#top_navbar_second_cart{
    width: 9%;border: 1px solid transparent;
    margin-left: 1%;
}
#top_navbar_second_search>select{
    height: 39px;
    text-align: center;
    color: gray;
    font-size: 13px;
    width: 25%;border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    
}
#top_navbar_second_search>input{
    border: none;
    border-left: 1px solid gray;
    background-color: white;
    outline: none;
    padding-left: 15px;
}
#top_navbar_second_address>p{
    font-size: 12px;

}
#top_navbar_second_address>div>img{
    width: 40%;
    margin-right: 8px;
    background-color: green;
}
#top_navbar_second_address>div>p{
  margin-top: -27px;
}
#top_navbar_second_address>div{
    display: flex;
    margin-top: 5px;
}
#top_navbar_second_cart>img{
    width: 30%;
    margin-left: 20px;
    margin-top: 5px;
    
}
#top_navbar_last{
    display: flex;
   margin-top: 30px;
   color:white
  /* position: relative; */
  
}
#top_navbar_last>div{
     margin-left: 45px;
}
#top_category{
    position: absolute;
    z-index: 99;
}

#drop_category{
    display: none;
    background-color: white;
    color: gray;
    width: 250px;
    top: 150px;
    overflow: scroll;
    height: 400px;
    /* z-index: 99; */
    /* position: absolute; */

    /* position: absolute; */
}
#drop_category::-webkit-scrollbar{
    display: none;
}
#drop_category>p{
    margin-top: 10px;
    padding-left: 5px;
    margin-top: 20px;
}
#drop_category>p:nth-child(1){
    margin-top: 15px;
}
#top_category:hover{
    /* position: fixed; */
    cursor: pointer;
}
/* #top_category:hover #all_options_categories{
    margin-right: -100px;
} */
#top_category:hover #drop_category{
    display: block;
}
#all_options_categories{
    width: 50%;
    display: flex;
   justify-content:space-between;
}
#all_options_categories>div{
    margin-left: 50px;
}
#all_options_categories>div:nth-child(1){
    margin-left: 120px;
}
#shipToBox{
    width: 280px;
    height: 300px;
    
    padding-top: 10px;
    padding-left: 35px;
    
    /* position: absolute; */
    display: none;
    
    /* background-color: white; */
}
#test{
    border-radius: 8px;
    position: absolute;
    left: 700px;
    top: 100px;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#shipToBox>p:nth-child(2){
    font-size: 13.5px;
    margin-top: 5px;
    margin-bottom: -5px;
    color: black;
}
#shipToBox>select:nth-child(3){
    height: 30px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    color: gray;
}
#shipToBox>select:nth-child(5){
    height: 30px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    color: gray;
}
#shipToBox>p:nth-child(4){
    font-size: 14px;
    margin-top: 10px;
    
}
#shipToBox>:nth-last-child(1){
    display: block;
    padding:4px 25px;
    margin-left: 55px;
    margin-top: 5px;
    font-size: 15px;
    background-color: rgb(20,118,254);
    color: white;
    border-radius: 5px;
    border: none;
}
#shipToBox>:nth-last-child(1):hover{
    cursor: pointer;
}
.country_select{
    text-align: center;
}
#navbar-top{
    background-color:   rgb(20,118,254);
}
.newxx{
   color: #ddd;
   text-decoration: none;
}
.option{
    text-decoration: none;
    color: gray;
}
#noofpro{
    border: 2px solid rgb(247, 4, 4); 
    display: block;
    margin: auto;
    width: 21px;
    height: 21px;
   margin-left: 37px;
   margin-top: -32px;
   color: rgb(255, 255, 255);
   text-align: center;
   font-size: 12px;
   border-radius:50%; 
   background-color: rgb(225, 70, 70);
   position: absolute;


}